<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>color </title>
</head>
<body>
    <div id="app">

        <div>
            <h1>Ma couleur préférée</h1>
            <!-- v-on: s'écrit raccourci @click -->
            <button @click="showColor">cliquer ici ! </button>
        </div>
        <div>
            <h2>Changer ma couleur préférée : {{ favoriteColor}}</h2>
            <label for="change-color"> Changer la couleur : </label>
            <!-- <input id="change-color" type="text" @keyup.enter="changeColor"> -->
            <!-- @keyup : réagire au clavier utilisateur  -->
            <input id="change-color" type="text" v-model="favoriteColor">

        </div>

        <div>
            <h2>Dit bonjour</h2>
            <button v-on:click="hello" >bonjour </button>
        </div>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const app =new Vue({
            el:"#app",
            data:{
               favoriteColor: 'Bleu',
            },
            methods:{
                showColor(){
                    alert(this.favoriteColor)
                },
                changeColor(){
                    this.favoriteColor = document.getElementById('change-color').value
                },
                hello(){
                    alert('Hello World')
                }

            }
        })
    </script>
</body>
</html>