<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Café avec vue</title>
</head>
<body>
    <div id="app">
        <h1>{{ restaurantName}}</h1>
        <p class="description ">
            Bienvenue dans notre café {{ restaurantName }} ! Nous sommes réputés
            pour notre pain et nos merveilleuses patisseries. Faites vous plaisir 
            dès le matin ou avec un goûter réconfortant. Mais attention, nous verrez
            qu'il est difficile de s'arrêter.
        </p>

        <section class="menu">
            <h2>Menu</h2>
            <div class="menu-item" v-for="item in simpleMenu" :key="item.name">
                <img
                    class="menu-item__image"
                    :src="item.image.source"
                    :alt="item.image.alt"
                />
                <div>
                    <h3>{{ item.name}}</h3>
                    <p v-if="item.inStock">en stock</p>
                    <p v-else>En rupture de stock</p>
                    <div>
                        <label for="add-item-quantity">Quantité :{{ item.quantity}}</label>
                        <input id="add-item-quantity" type="number" v-model.number="item.quantity" />
                        <button @click="addToShoppinCart(item.quantity)">Ajouter au panier d'achat</button>
                    </div>
                </div>
            </div>
        </section>

        <aside class="shopping-cart">
            <h2>Panier d'achat: {{shoppingCart}} articles</h2>
        </aside>

        <h2>Contactez nous</h2>
			<p>Adresse : {{ address }}</p>
			<p>Téléphone : {{ phone }}</p>
			<p>Email : {{ email }}</p>
			<p>Horaires :</p>
			<ul>
				<li>L-V: 06:00 à 16:00</li>
				<li>Samedi: 07:00 à 14:00</li>
				<li>Dimanche: 07:00 à 12:00</li>
			</ul>

        <footer>
            <p> {{ copyright }}</p>
            
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const app =new Vue({
            el:"#app",
            data:{
                restaurantName:'Café avec vue ',
                email:'cafe-avec-vue@email.fr',
                phone:'01.02.03.04.05',
                adress:'17 rue de la garonne 31000 Toulouse',
                shoppingCart:0,
                simpleMenu: [
						{
							name: "Croissant",
							image: {
								source: "./images/croissant.jpg",
								alt: "Un croissant"
							},
							inStock: true,
							quantity: 1
						},
						{
							name: "Baguette de pain",
							image: {
								source: "./images/french-baguette.jpeg",
								alt: "Quatre baguettes de pain"
							},
							inStock: true,
							quantity: 1
						},
						{
							name: "Éclair",
							image: {
								source: "./images/eclair.jpg",
								alt: "Éclair au chocolat"
							},
							inStock: false,
							quantity: 1
						}
					]
            },
            computed: {
                copyright(){
                    const currentYears = new Date().getFullYear()
                    return `Copyright ${this.restaurantName}  ${currentYears}`
                }
            },
            methods:{
                addToShoppinCart(amout){
                    this.shoppingCart += amout
                }
            }
        })
    </script>
</body>
</html>