#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  .description {
    max-width: 960px;
    font-size: 1.2rem;
    margin: 0 auto;
  }
  
  .footer {
    text-align: center;
    font-style: italic;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-item {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .menu-item__image {
    max-width: 300px;
  }
  
  .shopping-cart {
    position: absolute;
    right: 30px;
    top: 0;
  }