<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>VUE MART : Panier achat</title>
</head>
<body>
    <div id="app">
        <h1>Vue Mart</h1>
        <h2>Panier d'achat</h2>
        <ul>
            <!-- <li v-if="costOfApples > 0">Pommes : {{costOfApples}}€</li>
            <li>Bananes : {{costOfBanana}}€</li>
            <li>Noix de coco : {{costOfCoconuts}}€</li> -->
            <li v-for='item in shoppingCart'>
                <!-- v-bind: s'écrit aussi :href -->
              <a v-bind:href="item.url"> {{ item.label}}</a>  : {{ item.cost}}€
            </li>
        </ul>
        <p>Total : {{totalPrice}}€</p>

        <h2>Horaires d'ouverture</h2>
        <p>Dimanche : 10h00 - 16h00</p>
        <p>Du lundi au vendredi : 09h00 - 17h00</p>
        <p>Samedi : 09h30 - 18h00</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const app =new Vue({
            el:"#app",
            data:{
            //    costOfApples:0,
            //    costOfBanana:2,
            //    costOfCoconuts:15
            shoppingCart : [
                {
                    label:'Pommes',
                    cost:10,
                    url:'/apples.html'
                },
                {
                    label:'Bananes',
                    cost:15,
                    url:'/bananas.html'
                },
                {
                    label:'Noix de coco',
                    cost:20,
                    url:'/coconuts.html'
                }
            ]
            },
            computed: {
                totalPrice(){
                    let total = 0 

                    this.shoppingCart.forEach(item => {
                        total+= item.cost
                    });
                    return total
                }
            }
        })
    </script>
</body>
</html>